
* {
    box-sizing : border-box;}


body {
      font-family:'Open Sans', sans-serif;
      padding: 2rem;
    }
    .header h1 {
      font-size: 50px;
        text-decoration: none;
    }

.header {
    padding: 30px;
    text-align: center;
    background: white;
  color:  #0e2d21;

  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
