*, :after, :before {
   
    box-sizing: border-box;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
    color:  black;
  
  }

  body {
    line-height: 1.7;
    color: #000;
    font-family:'Open Sans', sans-serif;    
    font-size: 1rem;
    
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  #main-menu{
    margin-bottom:50px;

  }
  #main-menu a{

    display:inline-block;
    color: #000;
    background-color: white;
    text-decoration: none;
    border-bottom: transparent solid 1px;
    padding-bottom: 5px;
    font-size: 18px;
    margin-left: 8px;


  }


  #main-menu a:hover {
    color: #000;
    background-color:white;
    border-bottom: #737272 solid 3px;
    font-weight:bold;
    transition: .3s ease;
    }


    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 8rem;
      }
      .content{
       
        font-size: 16px;
      }

      .column{
        display: flex;
        width: 80vw;
        margin: auto;
        
        margin-top: 2rem;
        width:55%


      }

      .container{

        display:flex;
        width: 70%;
        align-items: center;
        justify-content: center;
      }

      input[type=text], select, textarea {
        width: 100%;
        padding: 0.8rem;
        border: 0.0625rem solid #ccc;
        border-radius:0.25rem;
        box-sizing: border-box;
        margin-top: 0.375rem;
        margin-bottom: 1rem;
        resize: vertical;
      }
      input[type=email]{
        width: 100%;
        padding: 0.8rem;
        border: 0.0625rem solid #ccc;
        border-radius:0.25rem;
        box-sizing: border-box;
        margin-top: 0.375rem;
        margin-bottom: 1rem;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #000;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #ccc;
      }
      


      div.mapsize {

    
    
        border: 0.5rem solid rgb(49, 48, 48);
        border-radius:1rem;
    
      }
    
    
    iframe { width:25rem;
       height:18.75rem;
      border:0;
    
      }