footer{
padding-top:3em;

}


.footer-container{
display:flex;
flex-direction: row;
width:100%;
justify-content:space-around;



}


.footer-container-brand h4{
    padding-bottom: 0.5em;
    font-size:1.5em;
}

.footer-container-brand{

width:40%;
text-align:left;


}
.footer-container-info h4{

    padding-bottom: 1em;
    font-size:1em;

}
.footer-container-info{

width:15%;


}

.footer-container-info a{
    text-decoration: none;
    color:black;
}


.footer-container-info-follow{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin:auto;
}

.footer-container-info-icon{

    text-align: center;
    flex:0 0 22.333333%;
    max-width: 24.333333%;
}

.footer-container-info-icon i{

    display: inline-block;
    width: inherit;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    line-height: 47px;
}


.footer-container-info-icon i:hover{

    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border-color:#262223;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);

    transition: all .25s ease-in-out;
    width: 47px;
    height: 47px;
}


@media only screen and (max-width: 600px) {

    
.footer-container{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content:space-around;
    width:100%;
    }
    .footer-container-brand{
        text-align: left;
        width: 100%;
        justify-content: center;
        padding-bottom: 1em;
    }

    .footer-container-info{
        text-align: left;
        width: 100%;
        justify-content: center;
        padding-bottom: 1em;
    }

    .footer-container-info-icon{

        text-align: center;
        width: 100%;
    }
}