
.picture-background{
	background-image:url("../image/leclairdecor.jpg");
	width:95vw;
	height:700px;
	background-repeat: no-repeat;
  	background-size: 100% 100%;

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align:center;
}


.picture-background h2{
	font-size:50pt;
	font-family: 'Hammersmith One';
	color:white;
	/*border:1px solid red;*/
}

.picture-background p{
	font-size:16pt;
	margin-top:-2em;
	color:white;
}

.picture-background>div{
	margin-top:2rem;
}

.icon-section{
	display:flex;
	width:95vw;
	margin:auto;
	margin-top:2rem;
}

.icon-section>div{
	display:flex;
	margin:auto;
	width:30%;
}

.icon-section>div>div:nth-child(1) img{
	width: 6em;
	margin-top: 2em;
}


.icon-section>div>div{
	width:40%;
}

/*
.icon-section>div:nth-child(1)>div{
	width:50%;
	padding:5rem;
}*/

.icon-section>div>img{
	width: 5em;
	height: 5em;
}

