/* *{
  border:1px solid red;
}

*/

.service-column {
    float: left;
    width: 33.33%;

    height: auto;
    background-color: white;
    justify-content: center;

}


.service-row .row:after {
    content: "";
    display: table;
    clear: both;

}

.roww {
    flex-direction: column-reverse;
}

/* Clear floats after the columns */
.roww::after {
    content: "";
    display: table;
    clear: both;
}

.columnn {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-decoration: none;

}

.columns {
    width: 100%;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

span.price {
    float: right;
    color: grey;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
    color: #0e2d21;
  border-bottom: 1.3px solid black;
}

.header2 {
    padding: 30px;
    text-align: center;
    background: #173f5f;
    color: #0e2d21;
    border-bottom: 1.3px solid #eabf7d;
}

.header2 h1 {
    font-size: 50px;
}
.header h1 {
    font-size: 50px;
}

div.tContainer{
  flex-direction: column;
  padding: 0% 2%;
  margin:3% 0% 3% 0%;
  align-items:center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.single_product_container{

    width:45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

table{
  border-collapse:collapse;
  width: 100%;

}

 td{
	text-align:left;
	border-bottom: 1px solid black;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

tr{
  text-align:left;
  	border-bottom: 2px solid black;
    border-top: 2px solid black;

}

th{
  text-align:right;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 8px;
}

td {
  text-align:left;
  padding: 8px;
border-bottom: 2px solid black;
}

section.element{
    padding: 2% 0% 3% 2%;
    border-bottom: 2px solid #60b76d;
    margin: 2% 0% 3% 0%;
}

h2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: black;
    font-family: 'Chelna';
    text-align: center;
}


a {
    text-decoration: none;
    color: #a6a6a6;
}

p {
    font-size: 18px;
}

/* top images */
.containerr {
    position: relative;
    width: 100%;
}

.containerr2 {
    position: relative;
    width: 100%;
    background: #173f5f;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    color: black;
    border-style: solid;
}


/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

/* Pricing header */
.price .header {
    background-color: white;
    color: black;
    font-size: 25px;
    text-decoration: none;

}

.price2 {
    list-style-type: none;
    border: 1px;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    color: #eabf7d;
    border-style: solid ;


}


/* Add shadows on hover */
.price2:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

/* Pricing header */
.price2 .header {
    background-color: white;
    color: black;
    font-size: 25px;
    text-decoration: none;

}
/* List items */
.price li {
    text-decoration: none;
    color: black;
    padding: 20px;
    text-align: left;
}

.price2 li {
    text-decoration: none;
    color: black;
    background: white;
    padding: 20px;
    text-align: left;
}
/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.button {
    background-color: #eabf7d;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
}

.button-nav {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: #262223;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 4px;
}

.button-nav:hover,
.button-nav:focus {
    background-color: rgb(200, 200, 200);
}

.button2 {
    background-color: black;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
}



.button2-nav:hover,
.button2-nav:focus {
    background-color: rgb(200, 200, 200);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 5%;
    transition: .5s ease;
    background-color: white;
}

.containerr:hover .overlay {
    opacity: 0.8;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #f2f2f2;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {

  /*  .service-column {
        width: 50%;
    }*/

    .columnn {
        width: 100%;
    }

    .columns {
        width: 100%;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .service-column {
        width: 100%;
    }

    .roww {
        flex-direction: column-reverse;
    }

    .columnn {
        width: 100%;
    }

    .columns {
        width: 100%;
    }


}
